allow vendor_init proc_kernel_sched:file write;
allow vendor_init device:dir { search read };
allow vendor_init device:file { create write };
allow vendor_init firmware_file:dir { search read };
allow vendor_init firmware_file:file { read open getattr };
allow vendor_init nfc_data_file:file { getattr };
allow vendor_init proc:file { write };
